doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        script(src="assets/scripts/styles.bundle.js")
    body
        div(id="app")
        script(src="assets/scripts/main.bundle.js")