@import "../layout/_variables.scss";
@import "../layout/_media.scss"; 

.header__admin{    
  position:relative;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  height: auto;    
  background-color:$main; 
  
  &-container{

      display:flex;
      justify-content: space-between;
      align-items: center;
      height:auto;
      width:100%;
      padding: rem(15px);
      
      @include descktop1800{
          max-width:rem(1600px);
      }

      @include phones{
          flex-direction:column;
      }

  }

  &-title{
      font-size: rem(28px);
      color:$white;

      @include tablets{
          font-size: rem(21px);
      }

      @include phones{
          font-size: rem(21px);
      }

  }

  &-onsitelink{
      color:$white;
      text-decoration: underline;

      &:active{
          color:$main_dark;
      }

      @include tablets{
          font-size: rem(14px);
      }

      @include phones{
          font-size: rem(14px);
      }
  }
}